@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

/* You can add global styles to this file, and also import other style files */
.sumyung {
  font-family: 'Mr Dafoe';
  font-size: 50px;
  color: #989ea4;
}

.fa-jedi-order {
  color: #989ea4;
}

.cart-item {
  font-size: small;
}

.filters {
  font-size: small;
}

.product-btn {
  font-size: smaller;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
